.city {
    background-color: rgb(226, 156, 43);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: block; 
    /* selects color for whole main page */
}
body {
    background-color: beige;
    /* selects color for bg */
}
h1 {
    margin-left: 600px;
    font-size: 60px;
}
.row {
    
}